.taskCell {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 3.4%;
    margin: 1.7%;
}   

.list {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    margin: 1px;
    background-color: rgb(196, 196, 196);
    border-radius: 13.0px;
}

.board {
    width: 60vw;
    min-width: 600px;    
}

.header {
    font-family: 'Charlie Display';
    vertical-align: top;
    padding: 4px;
    margin: 1px;
}